{{ define "menu" }}
{{/* Time-stamp: <2024-09-05 20:45:40 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D4D4D4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

      </ul>
    </div>
  </div>
</nav>
{{ end }}
